*{
	margin:0;
	padding:0;	
}
.header{
	width:100%;
	height:40px;
}
.firstpart{
	width:4%;
	float:left;
	padding-left:10px;
	
}
.secondpart{
	width:90%;
	float:left;
	font-size:30px;
	font-weight:bold;
	margin-top:10px;
	
}
.bodypart{
	width:100%;
	text-align:center;
}
.bodypart1{
	width:55%;
	float:left;
	
}
.bodypart2{
	width:42%;
	float:left;

	margin-top:200px;
}
.formcontroler{
	width:180px;
	height:30px;
	border-radius:5%;
}
.spl{
	font-size:20px;
	font-weight:bold;
	
}
.Button{
	background-color:skyblue;
	color:black;
	border-radius:8%;
	width:90px;
	height:30px;
	font-weight:bold;
}
.userhome{
	padding:10px;
	font-size:12px;
}
.heading{
	font-size:25px;
	font-weight:bold;
	color:#620031;
	
}
.addbtn{
	background-color:gray;
	color:white;
	float:right;
	border-radius:5px;
	height: 40px;  
	width: 100px;
	cursor: pointer;
	font-size:14px;
	font-weight:bold;
	
}
.addbtn:hover{
	background-color: #28867a;
}
.listtab{
	width:100%;
	font-size:20px; 
	margin: 0 auto auto;
	text-align: left;
}
td{
	padding:10px;
	text-align: left;
}

